:root {
  --square-size: 100px;
}

.container {
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.button {
    font-size: 1.5rem;
    width: fit-content;
    padding: 0.5em 1em;
    border: none;
    background-color: rgb(65, 105, 225);
    color: white;
    transform: translateY(0);
    transition: background-color 150ms ease, transform 150ms ease, color 150ms ease;
    border-radius: 5px;
}

.button:hover, .button:focus {
    background-color: rgb(80, 120, 240);
    cursor: pointer;
    transform: translateY(-3px);
}

.button:active {
    background-color: rgb(40,40,80);
}

.row {
    display: flex;
    justify-content: center;
  }
  
  .cell {
    height: var(--square-size);
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
    background-color:royalblue;
    border-collapse: collapse;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .visited {
    background-color: brown;
  }
  
  .top {
    border-top: none;
  }
  .left {
    border-left: none;
  }
  .right {
    border-right: none;
  }
  .bottom {
    border-bottom: none;
  }