.container {
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.button {
    font-size: 1.5rem;
    width: fit-content;
    padding: 0.5em 1em;
    border: none;
    background-color: rgb(65, 105, 225);
    color: white;
    transform: translateY(0);
    transition: background-color 150ms ease, transform 150ms ease, color 150ms ease;
    border-radius: 5px;
}

.button:hover, .button:focus {
    background-color: rgb(80, 120, 240);
    cursor: pointer;
    transform: translateY(-3px);
}

.button:active {
    background-color: rgb(40,40,80);
}

.grid {
  width: min(90dvh, 75%);
  aspect-ratio: 1 / 1;
  outline: 1px solid rosybrown;
  display: flex;
  flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  
.cell {
  /* margin: -1px 0px 0px -1px; */
  flex: 1;
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  font-size: clamp(8px, 1em, 14px);
  background-color:royalblue;
  border-collapse: collapse;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.visited {
  background-color: brown;
}

.top {
  border-top: 1px solid transparent;
}

.left {
  border-left: 1px solid transparent;
}

.right {
  border-right: 1px solid transparent;
}

.bottom {
  border-bottom: 1px solid transparent;
}